@using GroceryShopApp.Models.Models;
@model IEnumerable<Category>

<ul>
    @foreach (Category parentCategory in Model)
    {
        <li><a asp-controller="Home" asp-action="GetSubCategoryByParentCategoryId" 
               asp-route-id="@parentCategory.Id">@parentCategory.Name</a></li>
    }
</ul>
